# Python-specific
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Virtual environments
.venv/
env/
venv/

# Django-related
*.log
local_settings.py
db.sqlite3
media/

# IDE-specific
.vscode/
.idea/

# MacOS
.DS_Store

# Git-specific
*.swp
